@charset "UTF-8";

/*
 * Slideshow
 */

.slideshow {
   /* background-color: rgb(0, 0, 0);*/
    width: 100%;
    height: 100%;
    /*min-width: 960px;*/
    overflow: hidden;
    position: relative;
}

.slideshow-slides {
    height: 100%;
    position: absolute;
    width: 100%;
  
}
.slideshow-slides .slide {
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
 
}
.slideshow-slides .slide img {
    left: 50%;
    margin-left: -960px;
    position: absolute;
}

.slideshow-nav a,
.slideshow-indicator a {
    background-color: rgba(0, 0, 0, 0); 
    overflow: hidden;
}
.slideshow-nav a:before,
.slideshow-indicator a:before {
    content: url(../img/sprites.png);
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.slideshow-nav a {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 72px;
    height: 72px;
    margin-top: -36px;
}
.slideshow-nav a.prev {
    margin-left: -480px;
}
.slideshow-nav a.prev:before {
    margin-top: -20px;    
}
.slideshow-nav a.next {
    margin-left: 408px;
}
.slideshow-nav a.next:before {
    margin-left: -80px;
    margin-top: -20px;
}

/*여기서부터 js에서 언급될 예정*/
/*js에서 .disabled를 호출예정*/

.slideshow-nav a.disabled {
    display: none;
}

.slideshow-indicator {
    bottom: 50px;
    height: 20px;
    left: 70%;
    position: absolute;
    text-align: center;
}
.slideshow-indicator a {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-left: 3px;
    margin-right: 3px;
}
.slideshow-indicator a.active {
    cursor: default;
}
.slideshow-indicator a:before {
    margin-left: -110px;
}
.slideshow-indicator a.active:before {
    margin-left: -130px;
}


