@charset "utf-8";
/*
    font-family: 'Nanum Gothic', sans-serif;
    font-family: 'Nanum Pen Script', cursive;
    font-family: 'Nanum Myeongjo', serif;
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Latte Coffee Script', cursive;
    font-family: 'NotoSansKR', sans-serif;
*/
* { margin: 0; padding: 0; }
body, html { width: 100%; height: 100%; font-family: 'NotoSansKR', 'Nanum Gothic', sans-serif; -ms-scroll-style:none; }
ul { list-style: none; }
a { text-decoration: none; }
button, label, input, select { border:0; outline:0; }
::-webkit-scrollbar {    display: none; }
::-moz-scrollbar {    display: none; }
::-o-scrollbar {    display: none; }