@charset "UTF-8";
* { margin: 0; padding: 0; }
html,body{width: 100%;height: auto;font-family:'Noto Sans KR', sans-serif;font-size: 14px;overflow-y:auto;-ms-overflow-style:none;}
::-webkit-scrollbar{display: none;}

ul,li { list-style: none; }
a { text-decoration:none; }
button, input, a, img { outline:0; border:0; background-image:none;
background-color:transparent; }
.page{position: relative;width: 100vw;height: 100vh;overflow-x: hidden;}
